<div class="container d-flex algin-items-center" style="height: 75%;">
    <div class="row justify-content-center flex-column ml-5" style="color: #f8f9fa9c">
        <h1 class="display-3">Hello</h1>
        <h1 class="h3">My name is Farllon Augusto. </h1>
        <div>
            <p class="d-sm-none d-md-block" style="width: 40%">
                I am a Computer Science student and developer in the Web area. 
                I use languages ​​like HTML, CSS and Javascript for the front-end and PHP for the back-en. 
                In addition to integrations with databases such as MySQL, PostgreSQL, among others. 
                I also have knowledge in other areas of programming using Python, C ++ and C #. 
                I have developed some interesting sites for my portfolio.
            </p>
        </div>
    </div>
</div>