@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf);
}

body, html {
    height: 100%;
}

body {
    background: #181818;
    background-size: cover;
}

.navbar-brand {
    font-family: Roboto;
    letter-spacing: 3px;
}